client/src/conf/xml-resources/web-service-references/usersWS/wsdl/localhost_8081/IdentityService/usersWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://users/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://users/" name="usersWS">
<types>
<xsd:schema>
<xsd:import namespace="http://users/" schemaLocation="http://localhost:8081/IdentityService/usersWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getUserData">
<part name="parameters" element="tns:getUserData"/>
</message>
<message name="getUserDataResponse">
<part name="parameters" element="tns:getUserDataResponse"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<message name="isTokenValid">
<part name="parameters" element="tns:isTokenValid"/>
</message>
<message name="isTokenValidResponse">
<part name="parameters" element="tns:isTokenValidResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="addLike">
<part name="parameters" element="tns:addLike"/>
</message>
<message name="addLikeResponse">
<part name="parameters" element="tns:addLikeResponse"/>
</message>
<portType name="usersWS">
<operation name="getUserData">
<input wsam:Action="http://users/usersWS/getUserDataRequest" message="tns:getUserData"/>
<output wsam:Action="http://users/usersWS/getUserDataResponse" message="tns:getUserDataResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://users/usersWS/getUserData/Fault/ClassNotFoundException"/>
</operation>
<operation name="isTokenValid">
<input wsam:Action="http://users/usersWS/isTokenValidRequest" message="tns:isTokenValid"/>
<output wsam:Action="http://users/usersWS/isTokenValidResponse" message="tns:isTokenValidResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://users/usersWS/isTokenValid/Fault/ClassNotFoundException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://users/usersWS/isTokenValid/Fault/ParseException"/>
</operation>
<operation name="addLike">
<input wsam:Action="http://users/usersWS/addLikeRequest" message="tns:addLike"/>
<output wsam:Action="http://users/usersWS/addLikeResponse" message="tns:addLikeResponse"/>
</operation>
</portType>
<binding name="usersWSPortBinding" type="tns:usersWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUserData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="isTokenValid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="addLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="usersWS">
<port name="usersWSPort" binding="tns:usersWSPortBinding">
<soap:address location="http://localhost:8081/IdentityService/usersWS"/>
</port>
</service>
</definitions>