IdentityService/web/WEB-INF/wsdl/localhost_8081/IdentityService/usersWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://users/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://users/">

<xs:element name="ClassNotFoundException" type="tns:ClassNotFoundException"/>

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="getUserData" type="tns:getUserData"/>

<xs:element name="getUserDataResponse" type="tns:getUserDataResponse"/>

<xs:element name="isTokenValid" type="tns:isTokenValid"/>

<xs:element name="isTokenValidResponse" type="tns:isTokenValidResponse"/>

<xs:element name="users" type="tns:users"/>

<xs:complexType name="getUserData">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserDataResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="users">
<xs:sequence>
<xs:element name="userid" type="xs:string"/>
<xs:element name="username" type="xs:string"/>
<xs:element name="fullname" type="xs:string"/>
<xs:element name="email" type="xs:string"/>
<xs:element name="address" type="xs:string"/>
<xs:element name="postal" type="xs:string"/>
<xs:element name="phone" type="xs:string"/>
<xs:element name="likes" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ClassNotFoundException">
<xs:sequence>
<xs:element name="exception" type="tns:throwable" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isTokenValid">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isTokenValidResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>